
/* Link color */
a:link {
    color: rgb(140,140,140); 
    background-color: transparent; 
    text-decoration: none;
}

/* Link color when visited */
a:visited {
    color: rgb(140,140,140); 
    background-color: transparent;
    text-decoration: none;
}

/* Link color when hovered */
a:hover {
    color: rgb(180,180,180); 
    background-color: transparent;
    text-decoration: underline;
}

/* Social links color */
.social_link a:hover {
    background-color: transparent;
}

/* Document font size */
body {
  font-size: 16px;
}

/* Add style for figures */
figure {
    display: flex;
    flex-flow: column;
    margin: auto;
}

/* Size figure captions */
.figure-caption {
    font-size: 14px; 
    font-style: italic;
    text-align: center;
}

